body {
	margin: 50px;
	div.upcontainer {
		// position: absolute;
		// left: 15px;
		// top: 15px;
		width: 100%;
		height: 800px;
		div.row{
			margin: 30px 0;
			>div{
				margin: 10px 0;
				div.btn-group{
					button{
//						font-size: 1em;
						width: 50%;
						span{
							margin-right: 10px;
							vertical-align: text-top;
						}
					}
				}
			}
		}
		div.textcontainer {
			// position: absolute;
			left: 150px;
			top: 150px;
			width: 500px;
			height: 600px;
			margin: 20px;
			overflow-y: auto;
			overflow-x: hidden;
			h1 {
				text-align: center;
			}
			p {
				font-size: 1.2em;
				text-align: justify;
			}
		}
	}
}


div.index2{
	margin-top: 20px;
	div.container{
		div.row{
			div#text{
				font-size: 1.3em;
				text-align: justify;
			}
			div.btn-group{
				button{
					width: 50%;
				}
			}
		}
	}
}
